<!DOCTYPE html>
<html lang="en" class="csstransforms csstransforms3d csstransitions">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title><%= title %></title>
    <%include head.ejs%>
    <script>
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, "script", "/javascripts/core/analytics.js", "ga");

      ga("create", "UA-92186889-2", "auto");
      ga("send", "pageview");
    </script>
  </head>

  <body>
    <div class="preloader">
      <div class="spinner">
        <strong>Loading...<i class="fa-li fa fa-spinner fa-spin"></i></strong>
      </div>
    </div>
    <div class="preloader-left "></div>
    <div class="preloader-right "></div>

    <div class="inline-menu-container hidex">
      <ul class="inline-menu">
        <li
          data-langtext
          class="about menu-item"
          onclick="about(); ga('send', 'event', 'portfolio','click','resumePage');"
        >
          履歴書
        </li>
        <li
          data-langtext
          class="portfolio menu-item"
          onclick="portfolio(); ga('send', 'event', 'portfolio','click','portfolioPage');"
        >
          ポートフォリオ
        </li>
        <li data-langtext class="blog menu-item" onclick="blog();">
          ブログ
        </li>
        <li data-langtext class="contact menu-item" onclick="contact();">
          連絡先
        </li>
        <li id="close" onclick="close();">×</li>
      </ul>
    </div>

    <section class="home">
      <div class="container">
        <div class="name-block">
          <div class="name-block-container">
            <span
              data-langtext
              style="font-size: 28px; font-weight: 300; display: block; text-transform: capitalize;line-height: 60px; color : white"
              >初めまして</span
            >
            <h1 data-langtext>金 城局です。</h1>
            <h2 data-langtext>ウェブエンジニア</h2>
            <!-- <a class="btn btn-download" data-langtext href="#" -->
            <!-- onclick="ga('send', 'event', 'portfolio','click','resumeDownload');">이력서 다운로드</a> -->
            <ul class="social">
              <li>
                <a
                  href="#"
                  onclick="window.open('https://www.facebook.com/sungkuk5420');"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" onclick="textTranslate({resultLang : 'ko' });"
                  ><img class="flag flag-kr"
                /></a>
              </li>
              <li>
                <a href="#" onclick="textTranslate({resultLang : 'ja' });"
                  ><img class="flag flag-jp"
                /></a>
              </li>
              <!--<li><a href="#" onclick="setLanguage('en');"><img class="flag flag-us"  /></a></li>-->
            </ul>
          </div>
        </div>
        <div class="menu-blocks">
          <div class="about-block">
            <div class="about-block-container">
              <h2
                data-langtext
                class="about menu-item"
                onclick="about(); ga('send', 'event', 'portfolio','click','resumePage');"
              >
                履歴書
              </h2>
            </div>
          </div>
          <div class="portfolio-block">
            <div class="portfolio-block-container">
              <h2
                data-langtext
                class="portfolio menu-item"
                onclick="portfolio(); ga('send', 'event', 'portfolio','click','portfolioPage');"
              >
                ポートフォリオ
              </h2>
            </div>
          </div>
          <div class="blog-block">
            <div class="blog-block-container">
              <h2 data-langtext class="blog menu-item" onclick="blog();">
                ブログ
              </h2>
            </div>
          </div>
          <div class="contact-block">
            <div class="contact-block-container">
              <h2 data-langtext class="contact menu-item" onclick="contact();">
                連絡先
              </h2>
            </div>
          </div>
        </div>
        <div class="content-blocks about hidex">
          <section class="content" id="about">
            <div class="block-content">
              <h3 data-langtext class="block-title">自己紹介</h3>
              <div class="row">
                <div class="col-md-7">
                  <p>
                    <span data-langtext>初めまして。</span><br />
                    <!-- <span data-langtext>웹 개발자 김성국입니다.</span><br> -->
                  </p>
                </div>
                <div class="col-md-5">
                  <ul class="info-list">
                    <li>
                      <strong data-langtext>名前 : </strong>
                      <span data-langtext>金　城局（キム　ソングク）</span>
                    </li>
                    <li>
                      <strong data-langtext>経歴</strong>
                      <span data-langtext>５年目ウェブエンジニア</span>
                    </li>
                    <li>
                      <strong data-langtext>希望勤務先 : </strong>
                      <span data-langtext>関西</span>
                    </li>
                    <strong data-langtext>メール : </strong>
                    <li>
                      sungkuk5420@gmail.com
                    </li>
                    <!--<li><strong>Skype : </strong>  James.Bond</li>
                  <li><strong>Interest : </strong>  freelance, full-time</li>-->
                  </ul>
                  <ul class="info-list">
                    <li>
                      <strong data-langtext>お知らせ</strong><br />
                      <span data-langtext
                        >2019年11月からフリーランサーで働いてます。</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="block-content ">
              <h3 class="block-title" data-langtext>プロジェクト</h3>
              <div class="timeline experience">
                <div class="row ">
                  <div class="col-md-12">
                    <div class="exp-holder">
                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブアプリケーション –
                            工業所ユーザ管理アプリ（アンドロイド）
                          </h4>
                          <h5 data-langtext>2014年 03月 ~ 2014年 06月</h5>
                        </div>
                        <p data-langtext>担当：Frontend, Backend</p>
                      </div>

                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブサイト – 備品、図書管理システム
                          </h4>
                          <h5 data-langtext>2014年 08月 ~ 2014年 12月</h5>
                        </div>
                      </div>

                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブアプリケーション – 業務用社内チャット
                          </h4>
                          <h5 data-langtext>2015年 01月 ~ 2015年 12月</h5>
                        </div>
                      </div>

                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブアプリケーション – 自社サービス [GRAP]
                            業務用社内チャット
                          </h4>
                          <h5 data-langtext>2016年 01月 ~ 2016年 12月</h5>
                        </div>
                      </div>

                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブアプリケーション – 日本語単語帳
                          </h4>
                          <h5 data-langtext>2016年 05月 ~ 2016年 08月</h5>
                        </div>
                      </div>

                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブサイト – ポートフォリオサイト
                          </h4>
                          <h5 data-langtext>2016年 12月</h5>
                        </div>
                      </div>

                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            ウェブサイト - はごろもフーズのキャンペーンサイト
                          </h4>
                          <h5 data-langtext>2017年 01月 ~ 2017年 03月</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-md-12 btn-email">
                      <a
                        class="btn lowercase"
                        href="#"
                        onclick="portfolio(); ga('send', 'event', 'portfolio','click','portfolioPage');"
                        data-langtext
                        >詳細</a
                      ><br />
                    </div>
                  </div>
                  <!--자세히 보기 -->
                </div>
              </div>
            </div>

            <div class="block-content">
              <h3 class="block-title" data-langtext>学歴</h3>
              <div class="timeline education">
                <div class="row ">
                  <div class="col-md-12">
                    <div class="exp-holder">
                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>
                            仁川国立大学校 – パソコン工学部　卒業（韓国）
                          </h4>
                          <h5 data-langtext>2012年 03月 ~ 2016年 02月</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--block-content end-->

            <div class="block-content">
              <h3 class="block-title" data-langtext>社歴</h3>
              <div class="timeline education">
                <div class="row ">
                  <div class="col-md-12">
                    <div class="exp-holder">
                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>株式会社Partner(韓国)</h4>
                          <h5 data-langtext>2014年 08月 ~ 2016年 12月</h5>
                        </div>
                      </div>
                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>株式会社Sinq(日本)</h4>
                          <h5 data-langtext>2017年 01月 ~ 2017年 3月</h5>
                        </div>
                      </div>
                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>株式会社ウフル(日本)</h4>
                          <h5 data-langtext>2017年 06月 ~ 2019年 10月</h5>
                        </div>
                      </div>
                      <div class="exp">
                        <div class="hgroup">
                          <h4 data-langtext>フリーランサー</h4>
                          <h5 data-langtext>2019年 11月 ~</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- row end-->
              </div>
            </div>

            <div class="block-content">
              <h3 class="block-title" data-langtext>
                私はこれが開発できます。
              </h3>
              <div class="row">
                <div class="col-sm-4 service">
                  <div class="service-icon">
                    <i class="fa fa-desktop"></i>
                  </div>
                  <h4 data-langtext>ウェブ開発</h4>
                  <p data-langtext>
                    ウェブサイト/ ウェブアプリケーション 開発
                  </p>
                </div>
                <div class="col-sm-4 service">
                  <div class="service-icon">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </div>
                  <h4 data-langtext>アプリ開発</h4>
                  <p data-langtext>
                    Cordova, PWA, React Nativeを利用したモバイルアプリ開発
                  </p>
                </div>
                <div class="col-sm-4 service">
                  <div class="service-icon">
                    <i class=" fa fa-image"></i>
                  </div>
                  <h4 data-langtext>クローラ</h4>
                  <p data-langtext>ウェブクローラ自動データ収集、業務自動化</p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 service">
                  <div class="service-icon">
                    <i class=" fa fa-image"></i>
                  </div>
                  <h4 data-langtext>サーバー</h4>
                  <p data-langtext>
                    EC2 Linuxサーバーの構築、APIサーバー開発、
                  </p>
                </div>
                <div class="col-sm-4 service">
                  <div class="service-icon">
                    <i class=" fa fa-image"></i>
                  </div>
                  <h4 data-langtext>データベース</h4>
                  <p data-langtext>データモデリング</p>
                </div>
                <div class="col-sm-4 service">
                  <div class="service-icon">
                    <i class=" fa fa-image"></i>
                  </div>
                  <h4 data-langtext>CI、CD</h4>
                  <p data-langtext>ビルド、テスト、デプロイを自動化</p>
                </div>
              </div>
            </div>

            <!--<div class="block-content">-->
            <!--<h3 class="block-title">수상경력</h3>-->
            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <!--<div class="col-sm-3 awards">-->
            <!--<img src="images/awards/1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col-sm-3 awards">-->
            <!--<img src="images/awards/2.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col-sm-3 awards">-->
            <!--<img src="images/awards/3.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col-sm-3 awards">-->
            <!--<img src="images/awards/5.jpg" alt="">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="block-content">-->
            <!--<h3 class="block-title">주변인의 평가.</h3>-->
            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <!--<ul class="testimonials">-->
            <!--<li>-->
            <!--<img src="images/testimonials/1.jpg" alt="">-->
            <!--<blockquote>사용자를 고려한 UX & UI 디자인을 할 수 있습니다<p class="quote"><span>Brendon Rodgers</span> - CEO of xyz.com</p></blockquote>-->

            <!--</li>-->
            <!--<li>-->
            <!--<img src="images/testimonials/2.jpg" alt="">-->
            <!--<blockquote>ウェブサイト의 표준화 및 성능을 고려하여 개발합니다 <p class="quote"><span>Becky Allwood</span> - Web Development of abc.com</p></blockquote>-->

            <!--</li>-->
            <!--<li>-->
            <!--<img src="images/testimonials/3.jpg" alt="">-->
            <!--<blockquote>다양한 서비스를 개발해본 경험이 있습니다.<p class="quote"><span>Elly Page</span> - client of nfl.com</p></blockquote>-->

            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row text-center">
              <div class="col-md-12 btn-email">
                <a class="btn lowercase" href="#" onclick="contact();"
                  >sungkuk5420@gmail.com</a
                ><br />
                <!-- <small data-langtext>언제라도 연락주세요.</small> -->
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>

    <div class="content-blocks portfolio hidex">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">Portfolio(準備中…)</h3>
          <div class="row">
            <div class="col-md-12">
              <ul id="filters">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".graphic">Graphic</li>
                <li data-filter=".web">Web</li>
                <li data-filter=".video">Video</li>
                <li data-filter=".apps">Apps</li>
              </ul>
              <div id="projects">
                <div class="project graphic apps">
                  <!--<a class="open-project" href="/luxuryWatch">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>Luxury Watch</h4>
                          <p>Graphic / Apps</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/1.jpg" alt="" />
                </div>
                <div class="project web apps">
                  <!--<a class="open-project" data-toggle="modal" href="/colorfulTees" data-target="#modal">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>Colorful Tees</h4>
                          <p>Web / Apps</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/2.jpg" alt="" />
                </div>
                <div class="project graphic video">
                  <!--<a class="open-project" href="/luxuryWatch">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>Coffee Cups</h4>
                          <p>Graphic / Video</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/3.jpg" alt="" />
                </div>
                <div class="project graphic">
                  <!--<a class="open-project" href="/luxuryWatch">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>Stationary Branding</h4>
                          <p>Web</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/4.jpg" alt="" />
                </div>
                <div class="project web video">
                  <!--<a class="open-project" href="/luxuryWatch">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>Typewriter</h4>
                          <p>Graphic / Video</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/5.jpg" alt="" />
                </div>
                <div class="project apps web">
                  <!--<a class="open-project" href="/luxuryWatch">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>Magazine Cover</h4>
                          <p>Web / Apps</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/6.jpg" alt="" />
                </div>
                <div class="project video web">
                  <!--<a class="open-project" href="/luxuryWatch">-->
                  <a class="" href="#">
                    <div class="project-overlay">
                      <div class="vcenter">
                        <div class="centrize">
                          <h4>An Ipad</h4>
                          <p>Video / Web</p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <img src="/dist/images/portfolio/7.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-md-12">
              <h4>Interested in working together?</h4>
              <a class="btn lowercase" onclick="contact();"
                >sungkuk5420@gmail.com</a
              ><br />
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="content-blocks blog hidex">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">My Blog(サンプル)</h3>
          <div class="col-md-10 col-md-offset-1">
            <div class="post">
              <div class="post-thumbnail">
                <a class="open-post" href="post-single.html">
                  <img src="images/blog/4.jpg" alt="" />
                </a>
              </div>
              <div class="post-title">
                <a class="open-post" href="post-single.html">
                  <h2>Typography for web</h2>
                </a>
                <p class="post-info">
                  <span class="post-author">Posted by John Sparrow</span>
                  <span class="slash"></span>
                  <span class="post-date">Dec 08, 2015</span>
                  <span class="slash"></span>
                  <span class="post-catetory">Food</span>
                </p>
              </div>
              <div class="post-body">
                <p>
                  Omnium nominati prodesset pri no. Per dolor gloriatur<span
                    class="selected"
                  >
                    persequer</span
                  >is ad, te his aliquip molestie. Veri tantas ad usu, mel ne
                  sonet quaeque assueverit. Enim eruditi euripidis his et,
                  dictas admodum posidonium ei pro. An duo tempor maluisset
                  honestatis. Ne cum invidunt constituto, sanctus accusam an
                  usu, ea mandamus incorrupte mel. Pro cu purto graeco. Wisi
                  sonet elitr eos in. Est sint magna mucius te, iudico integre
                  gubergren no vis. Assum doming et pro, est ei inermis corpora
                  argumentum. Eos graece sadipscing et, pri dico salutandi
                  consetetur et, explicari voluptatum mei at. Ex cum nisl
                  epicurei, sea in molestie theophrastus, nibh tollit apeirian
                  no vis.
                </p>
                <a class="btn open-post" href="post-single.html">Read More</a>
              </div>
            </div>
            <div class="post">
              <div class="post-thumbnail">
                <a class="open-post" href="post-single.html">
                  <img src="images/blog/3.jpg" alt="" />
                </a>
              </div>
              <div class="post-title">
                <a class="open-post" href="post-single.html">
                  <h2>Typography for web</h2>
                </a>
                <p class="post-info">
                  <span class="post-author">Posted by John Sparrow</span>
                  <span class="slash"></span>
                  <span class="post-date">Dec 08, 2015</span>
                  <span class="slash"></span>
                  <span class="post-catetory">Food</span>
                </p>
              </div>
              <div class="post-body">
                <p>
                  Omnium nominati prodesset pri no. Per dolor gloriatur<span
                    class="selected"
                  >
                    persequer</span
                  >is ad, te his aliquip molestie. Veri tantas ad usu, mel ne
                  sonet quaeque assueverit. Enim eruditi euripidis his et,
                  dictas admodum posidonium ei pro. An duo tempor maluisset
                  honestatis. Ne cum invidunt constituto, sanctus accusam an
                  usu, ea mandamus incorrupte mel. Pro cu purto graeco. Wisi
                  sonet elitr eos in. Est sint magna mucius te, iudico integre
                  gubergren no vis. Assum doming et pro, est ei inermis corpora
                  argumentum. Eos graece sadipscing et, pri dico salutandi
                  consetetur et, explicari voluptatum mei at. Ex cum nisl
                  epicurei, sea in molestie theophrastus, nibh tollit apeirian
                  no vis.
                </p>
                <a class="btn open-post" href="post-single.html">Read More</a>
              </div>
            </div>
            <div class="post">
              <div class="post-thumbnail">
                <a class="open-post" href="post-single.html">
                  <img src="images/blog/2.jpg" alt="" />
                </a>
              </div>
              <div class="post-title">
                <a class="open-post" href="post-single.html">
                  <h2>Typography for web</h2>
                </a>
                <p class="post-info">
                  <span class="post-author">Posted by John Sparrow</span>
                  <span class="slash"></span>
                  <span class="post-date">Dec 08, 2015</span>
                  <span class="slash"></span>
                  <span class="post-catetory">Food</span>
                </p>
              </div>
              <div class="post-body">
                <p>
                  Omnium nominati prodesset pri no. Per dolor gloriatur<span
                    class="selected"
                  >
                    persequer</span
                  >is ad, te his aliquip molestie. Veri tantas ad usu, mel ne
                  sonet quaeque assueverit. Enim eruditi euripidis his et,
                  dictas admodum posidonium ei pro. An duo tempor maluisset
                  honestatis. Ne cum invidunt constituto, sanctus accusam an
                  usu, ea mandamus incorrupte mel. Pro cu purto graeco. Wisi
                  sonet elitr eos in. Est sint magna mucius te, iudico integre
                  gubergren no vis. Assum doming et pro, est ei inermis corpora
                  argumentum. Eos graece sadipscing et, pri dico salutandi
                  consetetur et, explicari voluptatum mei at. Ex cum nisl
                  epicurei, sea in molestie theophrastus, nibh tollit apeirian
                  no vis.
                </p>
                <a class="btn open-post" href="post-single.html">Read More</a>
              </div>
            </div>
            <div class="post">
              <div class="post-thumbnail">
                <a class="open-post" href="post-single.html">
                  <img src="images/blog/1.jpg" alt="" />
                </a>
              </div>
              <div class="post-title">
                <a class="open-post" href="post-single.html">
                  <h2>Typography for web</h2>
                </a>
                <p class="post-info">
                  <span class="post-author">Posted by John Sparrow</span>
                  <span class="slash"></span>
                  <span class="post-date">Dec 08, 2015</span>
                  <span class="slash"></span>
                  <span class="post-catetory">Food</span>
                </p>
              </div>
              <div class="post-body">
                <p>
                  Omnium nominati prodesset pri no. Per dolor gloriatur<span
                    class="selected"
                  >
                    persequer</span
                  >is ad, te his aliquip molestie. Veri tantas ad usu, mel ne
                  sonet quaeque assueverit. Enim eruditi euripidis his et,
                  dictas admodum posidonium ei pro. An duo tempor maluisset
                  honestatis. Ne cum invidunt constituto, sanctus accusam an
                  usu, ea mandamus incorrupte mel. Pro cu purto graeco. Wisi
                  sonet elitr eos in. Est sint magna mucius te, iudico integre
                  gubergren no vis. Assum doming et pro, est ei inermis corpora
                  argumentum. Eos graece sadipscing et, pri dico salutandi
                  consetetur et, explicari voluptatum mei at. Ex cum nisl
                  epicurei, sea in molestie theophrastus, nibh tollit apeirian
                  no vis.
                </p>
                <a class="btn open-post" href="post-single.html">Read More</a>
              </div>
            </div>

            <div class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="content-blocks contact hidex">
      <section class="content">
        <div class="block-content">
          <h3 class="block-title">連絡先</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="contact-content ">
                <div class="contact-icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="contact-details">
                  <h5>住所</h5>
                  <p>大阪府大阪市</p>
                </div>
              </div>
              <div class="contact-content ">
                <div class="contact-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="contact-details">
                  <h5>電話番号</h5>
                  <p>+81 - 070-4805-2725</p>
                </div>
              </div>
              <div class="contact-content ">
                <div class="contact-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="contact-details">
                  <h5>Eメール</h5>
                  <p>sungkuk5420@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <form
                method="POST"
                action="/mailSend"
                id="formcontactus"
                class=""
              >
                <div class="form-group">
                  <input
                    name="name"
                    type="text"
                    class="form-control requiretop"
                    placeholder="* お名前"
                  />
                </div>
                <div class="form-group">
                  <input
                    name="email"
                    type="email"
                    class="form-control requiretop"
                    placeholder="* 返信先Eメール"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    rows="6"
                    name="content"
                    class="form-control requiretop"
                    placeholder="* メッセージ"
                  ></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-dark selected">
                    メッセージ送信
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="modal fade" id="project-modal" style="">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
      <div class="inline-menu-container">
        <a
          id="modal-close"
          class="close"
          data-dismiss="modal"
          onclick="modalScroll.destroy();"
        >
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
    </div>

    <script type="text/javascript" src="dist/js/script.js"></script>

    <script>
      function detectMobile() {
        if (
          navigator.userAgent.match(/Android/i) ||
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPad/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/BlackBerry/i) ||
          navigator.userAgent.match(/Windows Phone/i)
        ) {
          return true;
        } else {
          return false;
        }
      }

      $("document").ready(function() {
        //translateInit();
        if (!detectMobile()) {
          $("#project-modal").css("overflow-y", "scroll");
          $("#post-modal").css("overflow-y", "scroll");
          $(".content-blocks").css("overflow-y", "scroll");
        } else {
          new IScroll(".content-blocks.about", {
            scrollbars: true,
            mouseWheel: true
          });
          new IScroll(".content-blocks.portfolio", {
            scrollbars: true,
            mouseWheel: true
          });
          new IScroll(".content-blocks.blog", {
            scrollbars: true,
            mouseWheel: true
          });
          new IScroll(".content-blocks.contact", {
            scrollbars: true,
            mouseWheel: true
          });
          new IScroll(".modal", {
            scrollbars: true,
            mouseWheel: true
          });
        }

        $("#langForm").submit();
      });
    </script>
  </body>
</html>
