<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
    <script type="text/javascript" src="javascripts/jquery-1.12.4.js"></script>
    <script type="text/javascript">
        //This event is called when the DOM is fully loaded
        window.addEvent("domready",function(){


        });
    </script>
</head>
<body>
<textarea rows="5" cols="25" id="csvResponse"></textarea>
</body>
</html>